.DS_Store
.idea
empyrebase*.egg-info
build
dist
test.py
test.png
run.py
__pycache__
*.pyc
pyrebase.py.orig
empyrebase.py.orig
secret.json
tests/config.py
.cache
venv
.pytest_cache
temp.py
empyrebase/types/private.py
